button {
    border: none;
    background-color: c(primary);
    border-radius: 5rem;
    padding: 1rem 2.2rem;

    @include large {
        padding: 1.4rem 3.4rem;
        position: relative;
        top: -1.3rem;
    }
}