.parent__luxury {
    background-color: c(dark-cyan);

    h2::before {
        background-image: url(https://github.com/itsjcsionelo/columncard/blob/main/images/icon-luxury.svg);
    }

    button {
        color: c(dark-cyan);
    }
}
