.parent__luxury {
    background-color: c(dark-cyan);

    h2::before {
        background-image: url(../../../images/favicon-32x32.png);
    }

    button {
        color: c(dark-cyan);
    }
}
