$colors: ( //
    orange: #e38826,
    cyan: #006970,
    dark-cyan: #004241,

    paragraph: #ffffffbf,
    primary: #f2f2f2,
);

$breakpoints: ( //
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);